<div>
  <h1>Welcome to the Package Tracking System</h1>

  <!-- Navigation Links -->
  <nav>
    <a routerLink="/login" routerLinkActive="active">Login</a> |
    <a routerLink="/register" routerLinkActive="active">Register</a> |
    <a routerLink="/create-order" routerLinkActive="active">Create Order</a> |
    <a routerLink="/my-orders" routerLinkActive="active">My Orders</a>|
    <a routerLink="/assigned-orders" routerLinkActive="active">Assigned Orders</a>| <!-- New link for couriers -->
    <a routerLink="/manage-orders" routerLinkActive="active">Manage Orders</a> |
  <a routerLink="/assign-orders" routerLinkActive="active">Assign Orders to Couriers</a>
  </nav>

  <!-- Routed Components Displayed Here -->
  <router-outlet></router-outlet>
</div>
